<mat-card>
    <mat-card-content>
        <mat-toolbar class="header">LOGIN</mat-toolbar>
        <form  [formGroup]="form" class="myForm"   >
            <div class="loginControls">
                <mat-form-field appearance="fill" >
                    <mat-label>Email:</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email" required  >
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error>Invalid Email Address</mat-error>
                  </mat-form-field>
                <mat-form-field appearance="fill" >
                    <mat-label>Password:</mat-label>
                    <input matInput   [type]="hide ? 'password' : 'text'" formControlName="password"  name="password" required >
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                <mat-error *ngIf="form.get('password').errors?.required">
                    Required password
                </mat-error>
                </mat-form-field>
                <div>
                    <button mat-raised-button [disabled]="form.invalid"   color="primary" type="submit" (click)="onClick()" >login</button>
                </div>
            </div>

        </form>
    </mat-card-content>
</mat-card>


